---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<h1>Your location</h1>
	<span id="replaceMe" aria-busy="true">Generating your link...</span>
	<script>
		function success({ coords: { latitude, longitude} }) {
			const link = document.createElement('a');
			link.textContent = `${latitude}, ${longitude}`;
			const href = `https://www.openstreetmap.org/search?query=${latitude},${longitude}#map=19/${latitude}/${longitude}`;
			link.setAttribute('href', href);
			const span = document.getElementById('replaceMe');
			span.replaceWith(link);
		};

		navigator.geolocation.getCurrentPosition(success);
	</script>
</BaseLayout>
